{%extends "base.html"%} {% block titulo_pagina %} Página inicial {% endblock %}
{% block body %}
<section>
  <h1>Sistema web com Flask</h1>
  <h2>Aprenda como funciona uma aplicação web desenvolvida com Flask</h2>
</section>
<section>
  <h2>Tecnologias usadas</h2>
  <p>
    <p>Python</p>
    <p>Flask</p>
    <p>SQLAlchemy</p>
    <p>SQLLite</p>
    <p>Bootstrap</p>
    <p>Jinja2</p>
  </p>
</section>
<section>
  <h2>O que você verá aqui:</h2>
  <p>✔ Cadastro de usuários</p>
  <p>✔ Login seguro</p>
  <p>✔ Senhas protegidas</p>
  <p>✔ Sessão de usuário</p>
  <p>✔ Áreas públicas</p>
  <p>✔ Áreas protegidas</p>
  <p>✔ Banco de dados SQLite</p>
  <p>✔ SQLAlchemy</p>
  <p>✔ Herança de templates</p>
  <p>✔ Interface responsiva</p>
  <p>✔ Bootstrap</p>
  <p>✔ Flask-Login</p>
</section>
<section>
  <button>Fazer login</button>
  <button>Criar conta</button>
</section>
<footer></footer>

{% endblock %}
