{% extends "base.html" %} {% block titulo_pagina %} Login {% endblock %} {%
block body %}
<p>Entrar</p>
<form action="{{url_for('login')}}" method="POST">
  <label for="email">Email:</label>
  <input
    type="email"
    name="email"
    id="email"
    placeholder="Digite seu e-mail aqui"
    required
  />
  <label for="senha">Senha:</label>
  <input
    type="password"
    name="senha"
    id="senha"
    placeholder="Digite sua senha aqui"
    required
  />
  <button type="submit">Entrar</button>
</form>

<p>Ainda não possui conta?</p>
<a href="{{url_for('cadastro')}}">Cadastrar</a>

{% endblock %}
