{% extends "base.html" %} {% block titulo_pagina %} Cadastro {% endblock %} {%
block body %}
<section
  class="secaologin-paginalogin d-flex justify-content-between align-items-center py-3"
>
  <div class="d-flex flex-column w-50">
    <p class="titulo-menor-hero rounded-pill px-2 py-1">
      Sistema web com Flask
    </p>
    <h1 class="titulo-hero fs-1 fw-bold">Acesse <span>sua conta</span></h1>
    <p class="">
      Faça login para conhecer as funcionalidades de uma aplicação web
      desenvolvida com o framework Flask.
    </p>
    <img
      src="/static/img/logo flask no notebook.png"
      alt="Notebook com a logo do Flask como papel de parede"
      class="w-100"
    />
  </div>
  <div
    class="containerlogin-paginalogin d-flex flex-column align-items-center w-50 px-4 py-3"
  >
    <i class="icone-usuario bi bi-person-fill"></i>
    <p class="mb-0 fw-bold fs-1">Criar conta</p>
    <p>Preencha os dados abaixo para criar a sua conta</p>
    <form
      method="POST"
      class="forms-paginalogin d-flex flex-column w-100 row-gap-2"
    >
      {{form.csrf_token}} {{form.nome.label()}} {{form.nome()}}
      {{form.sobrenome.label()}} {{form.sobrenome()}}
      {{form.email.label()}}{{form.email()}}{{form.senha.label()}}{{form.senha()}}{{form.confirmacao_senha.label()}}{{form.confirmacao_senha()}}{{form.botao_enviar()}}
    </form>
    <div
      class="d-flex d-flex justify-content-center align-items-center column-gap-1 mt-4"
    >
      <p class="mb-0">Já possui uma conta?</p>
      <a href="{{url_for('login')}}">Fazer login</a>
    </div>
  </div>
</section>
{% endblock %} {% block login_navbar %}
<div class="d-flex column-gap-3">
  <a
    href="{{url_for('login')}}"
    class="text-white text-decoration-none btn btn-outline-primary"
    >Login</a
  >
  <a
    href="{{url_for('cadastro')}}"
    class="text-white text-decoration-none btn btn-primary"
    >Criar conta</a
  >
</div>
{% endblock %}
