{%extends "base.html"%} {% block titulo_pagina %} Página inicial {% endblock %}
{% block body %}
<main>
  <section
    class="secao-hero d-flex justify-content-between align-items-center py-3"
  >
    <div class="d-flex flex-column">
      <p class="mb-0 fs-3 fw-bold">Olá, eu sou</p>
      <p class="titulo-hero mb-0">Karine Angel</p>
      <p class="fw-bold fs-3" style="color:rgb(0, 0, 206)">Desenvolvedora Python</p>
      <p class="">
        Este site foi desenvolvido por mim para demonstrar minhas habilidades com Flask, autenticação, banco de dados e boas práticas de desenvolvimento.
      </p>
      {% if not current_user.is_authenticated %}
      <div class="botoes-login d-flex column-gap-1">
        <a
          href="{{url_for('login')}}"
          class=" d-flex column-gap-1 align-items-center text-decoration-none p-1"
        >
          <i class="bi bi-person-circle"></i>
          <p class="mb-0">Entrar</p>
        </a>
        <a
          href="{{url_for('cadastro')}}"
          class="d-flex column-gap-1 align-items-center text-decoration-none p-1"
        >
          <i class="bi bi-person-plus"></i>
          <p class="mb-0">Criar conta</p>
        </a>
      </div>
      {%endif%}
    </div>
    <img
      src="/static/img/logo flask no notebook.png"
      alt="Notebook com a logo do Flask como papel de parede"
      class="w-50"
    />
  </section>
  <section class="secao-tecnologias d-flex flex-column align-items-center py-5">
    <div class="d-flex align-items-center titulo-secao-tecnologias fs-1">
      <i class="bi bi-stack"></i>
      <h2>Tecnologias usadas</h2>
    </div>
    <p>Ferramentas modernas para um desenvolvimento eficiente e profissional</p>
    <div class="logos-tecnologias d-flex justify-content-center w-100">
      <div class="logo-tecnologias">
        <img src="/static/img/icons8-python-480.svg" />
        <p>Python</p>
      </div>
      <div class="logo-tecnologias">
        <img src="/static/img/icons8-flask-500.svg" />
        <p>Flask</p>
      </div>
      <div class="logo-tecnologias logo-sqlalchemy">
        <img
          src="/static/img/ChatGPT Image Jul 30, 2026, 02_59_41 AM.png"
          class="align-self-center"
        />
        <p class="align-self-center">SQLAlchemy</p>
      </div>
      <div class="logo-tecnologias">
        <img src="/static/img/sqlite.png" />
        <p>SQLite</p>
      </div>
      <div class="logo-tecnologias">
        <img src="/static/img/bootstrap.svg" />
        <p>Bootstrap</p>
      </div>
      <div class="logo-tecnologias">
        <img src="/static/img/jinja-svgrepo-com.svg" />
        <p>Jinja2</p>
      </div>
    </div>
  </section>
  <section
    class="secao-funcionalidades d-flex flex-column justify-content-center align-items-center py-5"
  >
    <h2 class="fw-bold">O que você verá aqui:</h2>
    <div
      class="container-funcionalidades d-flex justify-content-between column-gap-5 w-100"
    >
      <div class="col-esq-funcionalidades row-gap-3 w-50">
        <div class="d-flex align-items-center column-gap-1 px-2 py-1">
          <i class="bi bi-check-circle-fill"></i>
          <p class="fw-semibold mb-0">Cadastro de usuários</p>
        </div>
        <div class="d-flex align-items-center column-gap-1 px-2 py-1">
          <i class="bi bi-check-circle-fill"></i>
          <p class="fw-semibold mb-0">Login seguro</p>
        </div>
        <div class="d-flex align-items-center column-gap-1 px-2 py-1">
          <i class="bi bi-check-circle-fill"></i>
          <p class="fw-semibold mb-0">Senhas protegidas</p>
        </div>
        <div class="d-flex align-items-center column-gap-1 px-2 py-1">
          <i class="bi bi-check-circle-fill"></i>
          <p class="fw-semibold mb-0">Sessão de usuário</p>
        </div>
        <div class="d-flex align-items-center column-gap-1 px-2 py-1">
          <i class="bi bi-check-circle-fill"></i>
          <p class="fw-semibold mb-0">Áreas públicas</p>
        </div>
        <div class="d-flex align-items-center column-gap-1 px-2 py-1">
          <i class="bi bi-check-circle-fill"></i>
          <p class="fw-semibold mb-0">Áreas protegidas</p>
        </div>
      </div>
      <div class="col-dir-funcionalidades w-50">
        <div class="d-flex align-items-center column-gap-1 px-2 py-1">
          <i class="bi bi-check-circle-fill"></i>
          <p class="fw-semibold mb-0">Banco de dados SQLite</p>
        </div>
        <div class="d-flex align-items-center column-gap-1 px-2 py-1">
          <i class="bi bi-check-circle-fill"></i>
          <p class="fw-semibold mb-0">SQLAlchemy</p>
        </div>
        <div class="d-flex align-items-center column-gap-1 px-2 py-1">
          <i class="bi bi-check-circle-fill"></i>
          <p class="fw-semibold mb-0">Herança de templates</p>
        </div>
        <div class="d-flex align-items-center column-gap-1 px-2 py-1">
          <i class="bi bi-check-circle-fill"></i>
          <p class="fw-semibold mb-0">Interface responsiva</p>
        </div>
        <div class="d-flex align-items-center column-gap-1 px-2 py-1">
          <i class="bi bi-check-circle-fill"></i>
          <p class="fw-semibold mb-0">Bootstrap</p>
        </div>
        <div class="d-flex align-items-center column-gap-1 px-2 py-1">
          <i class="bi bi-check-circle-fill"></i>
          <p class="fw-semibold mb-0">Flask-Login</p>
        </div>
      </div>
    </div>
    {% if not current_user.is_authenticated %}
    <div class="container-login-funcionalidades d-flex align-items-center justify-content-evenly w-100 py-2 mt-4">
      <i class="bi bi-rocket-takeoff-fill"></i>
      <div class="d-flex flex-column justify-content-center titulo-login-funcionalidades ">
        <p class="fw-semibold mb-0">Pronto para começar?</p>
        <p class="mb-0">
          Crie sua conta gratuitamente e explore todos os recursos do sistema.
        </p>
      </div>
      <div class="botoes-login d-flex column-gap-1">
        <a
          href="{{url_for('cadastro')}}"
          class=" d-flex column-gap-1 align-items-center text-decoration-none p-1"
        >
          <i class="bi bi-person-plus"></i>
          <p class="mb-0">Criar conta</p>
        </a>
        <a
          href="{{url_for('login')}}"
          class=" d-flex column-gap-1 align-items-center text-decoration-none p-1"
        >
          <i class="bi bi-box-arrow-in-right"></i></i>
          <p class="mb-0">Fazer login</p>
        </a>
      </div>
    </div>
    {%endif%}
  </section>
</main>
{% endblock %}
          
